<section class="about-section js--about-section" id="about">
	<div class="row">
		<div class="col span_1_of_2 about-box js--about-box">
			<h2 class="about-heading">A Digital Agency Focused On Growing your Online presence</h2>
			<p class="about-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. </p>
			<p class="about-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. </p>
			<a href="#" class="btn btn-ghost">Read More</a>
		</div>
		<div class="col span_1_of_2 about-box js--about-box">
			<img src="../assets/hero_1.jpg" alt="Digisolve app on Laptop" class="laptop-image">
		</div>
	</div>
</section>
